<%- include('./includes/head.ejs') %>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <%- include('./includes/navbar') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to RougeNiel Blog Site</h1>
      <h2>Discover a New Blog Site in the Philippines</h2>
      <img src="assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="300">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero Section -->


  <main id="main">
    <!-- ======= Features Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-down" data-aos-duration="3000">
        <div class="section-title text-center">
          <h2>Blog Content</h2>
        </div>

        <div class="row" >

          <div class="col-md-6 col-lg-3" data-aos="flip-up">
            <div class="feature-block">
              <img  src="assets/img/svg/paint-palette.svg" alt="img" class="img-fluid">
              <h4><a href="#">Design</a></h4>
              <p>"You can't use up creativity. The more you use, the more you have." </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3"  data-aos="flip-up" data-aos-delay="100">
            <div class="feature-block">
              <img src="assets/img/svg/news.svg" alt="img" class="img-fluid">
              <h4><a href="">News</a></h4>
              <p>"The idea of redemption is always good news, even if sacrifice or some difficult times."</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="flip-up" data-aos-delay="200">
            <div class="feature-block">
              <img src="assets/img/svg/planet.svg" alt="img" class="img-fluid">
              <h4><a href="">World</a></h4>
              <p>“Live for what’s worth dying for, and leverage technology to create the world you wish to see.”</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="flip-up" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/philippines.svg" alt="img" class="img-fluid">
              <h4><a href="">Philippines</a></h4>
              <p>"The Philippines is where Asia wears a smile. Beautiful products can only made by happy people."</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="flip-up" data-aos-delay="400">
            <div class="feature-block">
              <img src="assets/img/svg/sports.svg" alt="img" class="img-fluid">
              <h4><a href="">Sports</a></h4>
              <p>“Hard work beats talent when talent doesn’t work hard.”</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="flip-up" data-aos-delay="500">
            <div class="feature-block">
              <img src="assets/img/svg/planet-earth.svg" alt="img" class="img-fluid">
              <h4><a href="">Nature</a></h4>
              <p>"Look deep into nature, and then you will understand everything better."</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="flip-up" data-aos-delay="600">
            <div class="feature-block">
              <img src="assets/img/svg/brain.svg" alt="img" class="img-fluid">
              <h4><a href="">Technology</a></h4>
              <p>“Technology is best when it brings people together.”</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="flip-up" data-aos-delay="700">
            <div class="feature-block">
              <img src="assets/img/svg/photo-camera.svg" alt="img" class="img-fluid">
              <h4><a href="">Photography</a></h4>
              <p>“We are making photographs to understand what our lives mean to us.”</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->


    
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="padd-sectio">

      <div class="container" data-aos="fade-up">
        <div class="text-center">
          <h2 class="mb-5">Latest posts</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="assets/img/blog/blog-image-1.jpg"  alt="img"></a>
                <div class="card">
                  <div class="card-header">Author</div>
                  <div class="card-body">
                      <p>Body</p>
                  </div>
                  <div class="card-footer"><span>05, juin 2017</span>
                    <a class="pull-right readmore" href="#">read more</a></div>
                </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="assets/img/blog/blog-image-2.jpg"  alt="img"></a>
                <div class="card">
                  <div class="card-header">Author</div>
                  <div class="card-body">
                      <p>Body</p>
                  </div>
                  <div class="card-footer"><span>05, juin 2017</span>
                    <a class="pull-right readmore" href="#">read more</a></div>
                </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="assets/img/blog/blog-image-3.jpg"  alt="img"></a>
                <div class="card">
                  <div class="card-header">Author</div>
                  <div class="card-body">
                      <p>Body</p>
                  </div>
                  <div class="card-footer"><span>05, juin 2017</span>
                    <a class="pull-right readmore" href="#">read more</a></div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Blog Section -->


    <!-- ======= Team Section ======= -->
    <%- include('aboutus')%>
    <!-- End Team Section -->

    <!-- ======= Contact Section =======  -->
    <div class="container">
      <%- include('contactus')%>
    </div>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  
  <%- include('./includes/footermain.ejs') %>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  
  <script src="assets/vendor/modal-video/js/modal-video.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/superfish/superfish.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <%- include('./includes/footer.ejs') %>